<div class="">
    <div style="display: block;" class="porlets-content">
        <form parsley-validate="" novalidate="" method="POST" id="add_task">
            <div class="form-group">
                <label> Name</label>
                <input name="task_name" parsley-trigger="change" required="" placeholder="Enter user name" class="form-control parsley-validated" type="text">
            </div>
            <div class="form-group">
                <label>Task Desc</label>
                <textarea name="description" parsley-trigger="change" required="required" placeholder="Skenario" class="form-control parsley-validated" ></textarea>
            </div>
        </form>
    </div>
</div>