<div class="" id="p_content">
    <div class="page-title">
        <div class="title_left">
            <h3>Task <small>XS Technology</small></h3>
        </div>
        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" class="form-control" id="jetssearch" placeholder="Search for...">
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row" >
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Task</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Settings 1</a>
                                </li>
                                <li><a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <p>Project handle by PT. Xs Technologies</p>
                    <!-- start project list -->
                    <div id="t_content">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <?= $this->element('collapse-box');?>
    <script type="text/javascript">
    $.ajax({
        url: "<?= $this->Url->build(['controller'=>'task', 'action'=>'module_tasks'])?>",
        type: 'GET',
        data: {pid: "<?php echo $pid ?>"},
    })
    .done(function(response) {
        $("#t_content").html(response)
        console.log("success");
    })
    .fail(function() {
        console.log("error");
    })
    .always(function() {
        console.log("complete");
    });
    
    </script>
    <?= $this->element('progress')?>
</div>