<div class="actions columns large-2 medium-3">
    <h3><?= __('Actions') ?></h3>
    <ul class="side-nav">
        <li><?= $this->Form->postLink(
                __('Delete'),
                ['action' => 'delete', $bugsParticipant->id],
                ['confirm' => __('Are you sure you want to delete # {0}?', $bugsParticipant->id)]
            )
        ?></li>
        <li><?= $this->Html->link(__('List Bugs Participant'), ['action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('List Bugs'), ['controller' => 'Bugs', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New Bug'), ['controller' => 'Bugs', 'action' => 'add']) ?></li>
        <li><?= $this->Html->link(__('List Users'), ['controller' => 'Users', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New User'), ['controller' => 'Users', 'action' => 'add']) ?></li>
    </ul>
</div>
<div class="bugsParticipant form large-10 medium-9 columns">
    <?= $this->Form->create($bugsParticipant) ?>
    <fieldset>
        <legend><?= __('Edit Bugs Participant') ?></legend>
        <?php
            echo $this->Form->input('bug_id', ['options' => $bugs]);
            echo $this->Form->input('user_id', ['options' => $users]);
        ?>
    </fieldset>
    <?= $this->Form->button(__('Submit')) ?>
    <?= $this->Form->end() ?>
</div>
