<?php extract($content);?>

<p>Dear <?= $realname;?></p>
<p>Anda telah bergabung di project <?=$project_name?></p>
<p>Project ini di mulai pada <?= $project_start;?> dan akan berakhir pada <?=$project_end?></p>
<p>silahkan login ke <?= $this->Html->link('Go to Project', ['_full'=>true, 'controller'=>'user', 'action'=>'login'])?> untuk memulai melihat projectnya</p>
<br>
<br>
<br>
<p>Terima kasih</p>
<p>salam</p>
<p>Assigner</p>
<br>
<p><u><?=$project_owner?></u></p>
<p>--------------</p>
