<?php extract($content)?>
<p>Dear <?= $realname;?></p>
<p></p>
<p>Anda telah di tugaskan untuk mengerjakan modul : <?= $mod_name;?></p>
<p><?= $mod_desc;?></p>
<p>Module ini di mulai pada <?= $start_date; ?> dan di harapkan selesai pada <?= $end_date;?></p>
<p>Silahakan membuka <?= $this->Html->link('Go To Module', ['_full'=>true, 'controller'=>'module', 'action'=>'view', $mod_id]);?></p>
<p></p>
<p></p>
<p></p>
<p>Terima Kasih</p>
<p>Salam</p>
<p>Assigner</p>
<p></p>
<p></p>
<p><u><?= $full_name;?></u></p>
<p>----------------------</p>