<?php extract($content)?>
<p>Dear <?= $realname;?></p>
<p></p>
<p><?= $full_name; ?> telah menambahkan tugas : <?= $name;?> untuk anda </p>
<p><?= $desc;?></p>
<p>Silahakan membuka <?= $this->Html->link('Go To Module', ['_full'=>true, 'controller'=>'module', 'action'=>'view', $mod_id]);?> untuk melihatnya</p>
<p></p>
<p></p>
<p></p>
<p>Terima Kasih</p>
<p>salam</p>
<p>Assigner</p>
<p></p>
<p></p>
<p><u><?= $full_name;?></u></p>
<p>----------------------</p>