<div class="actions columns large-2 medium-3">
    <h3><?= __('Actions') ?></h3>
    <ul class="side-nav">
        <li><?= $this->Form->postLink(
                __('Delete'),
                ['action' => 'delete', $menuModul->id],
                ['confirm' => __('Are you sure you want to delete # {0}?', $menuModul->id)]
            )
        ?></li>
        <li><?= $this->Html->link(__('List Menu Modul'), ['action' => 'index']) ?></li>
    </ul>
</div>
<div class="menuModul form large-10 medium-9 columns">
    <?= $this->Form->create($menuModul) ?>
    <fieldset>
        <legend><?= __('Edit Menu Modul') ?></legend>
        <?php
            echo $this->Form->input('menu_id');
            echo $this->Form->input('link');
        ?>
    </fieldset>
    <?= $this->Form->button(__('Submit')) ?>
    <?= $this->Form->end() ?>
</div>
